<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Header Parser</title>
</head>
<body>
    <header>
        <h1>API Project : Header Parser Microservice</h1>
        <h2>User Story:</h2>
    </header>
    <main>
        <div class="story">
        <ol>
            <li>I can get the IP address, preferred languages (from header Accept-Language)
            and system infos (from header User-Agent) for my device.</li>
        </ol>
        </div>

        <div class="usage">
            <h1>Example Usage</h1>
            <a href="http://">[base url]/api/whoami</a>
        </div>
        <div class="output">
            <h1>Example output</h1>
         <p>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
        "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</p>
        </div>
        <div class="owner">
            <a href="http://">By Krishna</a>
        </div>
    </main>
</body>
</html>